.contacts-section {
    margin: 40px 0 20px 0;
}

.contacts-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    justify-content: center;
}

.text-input {
    min-width: 120px;
    flex: 1 1 120px;
    height: 60px;
    padding: 0 12px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid var(--portfolio-black);
    transition: border-color 1s;
}

.text-input::placeholder {
    color: var(--portfolio-grey);
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
}

.contacts-button {
    flex: 0 0 200px;
}

@media (hover: hover) {
    .text-input:hover {
        border-color: var(--portfolio-red);
    }
}

/* Тут не хватает места для всех элементов в одной строке */
@media (max-width: 648px) {
    .text-input:first-child {
        flex-basis: 100%;
    }
}

/* Тут не хватает места для второго инпута и кнопки */
@media (max-width: 428px) {
    .text-input:first-child {
        max-width: 100%;
    }

    .text-input:nth-child(2) {
        flex-basis: 100%;
    }

    .contacts-button {
        flex-basis: 100%;
    }
}

@media (max-width: 380px) {
    .inputs-container {
        flex-direction: column;
    }

    .contacts-button {
        width: 100%;
    }
}