.contacts-section {
    margin: 40px 0 20px 0;
}

.contacts-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputs-container {
    gap: 8px;
    width: 100%;
}

.text-input {
    max-width: 380px;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 60px;
    padding: 0 12px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid var(--portfolio-black);
    transition: border-color 1s;
}

.text-input::placeholder {
    color: var(--portfolio-grey);
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
}

.contacts-button {
    width: 200px;
    flex-shrink: 0;
}

@media (hover: hover) {
    .text-input:hover {
        border-color: var(--portfolio-red);
    }
}

@media (max-width: 768px) {

}

@media (max-width: 380px) {
    .inputs-container {
        flex-direction: column;
    }

    .contacts-button {
        width: 100%;
    }
}