.hero-section {
    height: 100%;
    padding: 60px 0;
}

.hero-background {
    display: flex;
    gap: 20px;
    height: 100%;
}

.hero-left-part {
    width: 60px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    gap: 12px;
    flex-shrink: 0;
    transition: opacity 2s;
    opacity: 1;
}

.vertical-line {
    height: clamp(432px, 16.9vw + 292.64px, 536px);
    border-left: 1px solid var(--portfolio-white);
}

.hero-right-part {
    padding: 0 20px;
    display: flex;
    gap: clamp(20px, 2.98vw - 2.86px, 40px);
}

.numbers-text {
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 5px;
}

.h1-container {
    display: flex;
    flex-direction: column;
    gap: 160px;
    align-self: end;
}

.achievements-background {
    gap: 60px;
    justify-content: start;
}

.number-background {
    display: flex;
    gap: 8px;
}

.down-link {
    text-decoration: none;
    color: var(--portfolio-white);
    transition: color 1s;

    display: flex;
    align-items: center;
    gap: 8px;
}

.down-link>span {
    cursor: pointer;
}

.first-hero-image-background {
    width: clamp(150px, 15vw, 220px);
    margin: 0;
    opacity: 1;
    transition: opacity 2s;
    align-self: center;
    flex-shrink: 0;
    display: flex;
}

.first-hero-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: url("../../assets/img/webp/img-10.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.second-hero-image-background {
    width: clamp(220px, 8.93vw + 151.43px, 280px);
    margin: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-hero-image {
    width: 100%;
    aspect-ratio: 1 / 1.34;
    background-image: url("../../assets/img/webp/img-11.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.presentation-text {
    text-align: right;
    margin: 0;
}

@media (hover: hover) {
    .down-link:hover {
        color: var(--portfolio-red);
    }
}

@media (max-width: 1320px) {
    .first-hero-image-background {
        opacity: 0;
    }
}

@media (max-width: 1300px) {
    .first-hero-image-background {
        display: none;
    }
}

@media (max-width: 800px) {
    .hero-right-part {
        gap: 0;
    }
}

@media (max-width: 764px) {
    .hero-left-part {
        opacity: 0;
    }
}

@media (max-width: 759px) {
    .hero-left-part {
        display: none;
    }
}

@media (max-width: 690px) {
    .hero-right-part {
        flex-direction: column;
        gap: 20px;
    }

    .down-link {
        display: none;
    }

    .second-hero-image-background {
        align-self: end;
        gap: 60px;
    }
}