.price-section {
    height: 100%;
    padding: 60px 0;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
}

.price-blocks {
    gap: 40px;
}

.price-block {
    width: 320px;
    height: 500px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--portfolio-black);
    transition: border-color 1s;
}

.price-ul {
    padding: 0;
    margin: 0;
    list-style-type: square;
    list-style-position: inside;
}

.price-ul > li:not(:last-child) {
    margin-bottom: 4px;
}

@media (hover: hover) {
    .price-block:hover {
        border-color: var(--portfolio-red);
    }

    .price-block:hover .button-div {
        background-color: var(--portfolio-red);
        color: var(--portfolio-black);
    }
}

@media (max-width: 1320px) {
    .price-blocks {
        gap: 20px;
        flex-wrap: wrap;
    }
}