.black-section {
    background-color: var(--portfolio-black);
    color: var(--portfolio-white);
}

.white-section {
    background-color: var(--portfolio-white);
    color: var(--portfolio-black);
}

.content-container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.header-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.portfolio-navigation {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navigation-text {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--portfolio-white);
    transition: color 1s;
}

.navigation-text:hover {
    color: var(--portfolio-red);
}

.no-hover {
    pointer-events: none;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button-div {
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: var(--portfolio-white);
    background-color: var(--portfolio-black);
    transition: background-color 1s,
                color 1s;
}

.button-div:hover {
    background-color: var(--portfolio-red);
    color: var(--portfolio-black);
}