.black-section {
    background-color: var(--portfolio-black);
}

.white-section {
    background-color: var(--portfolio-white);
}

.content-container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.portfolio-navigation {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navigation-text {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--portfolio-white);
    transition: color 1s;
}

.navigation-text:hover {
    color: var(--portfolio-red);
}

.no-hover {
    pointer-events: none;
}